*,
*::before,
*::after {
  font:
    400 20px/1.1 Helvetica,
    sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-wrapper {
  display: grid;
  grid-template-rows: 1fr 1000px;
  min-height: 100vh;
  height: fit-content;
  overflow: hidden;
}

.text-section {
  display: flex;
  flex-flow: row;
  width: 100%;
  margin-top: 100px;
  justify-content: center;
  height: fit-content;
}

.blurb {
  display: flex;
  flex-flow: column;
  gap: 10px;
  width: 400px;
}
.blurb h2 {
  font-weight: 900;
  font-size: 24px;
}

.page-config {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  width: 300px;
  text-align: right;
  align-items: end;
  justify-content: space-around;
}

.play-section {
  position: relative;
  max-width: 100vw;
  width: 100vw;
  height: 1000px;
}

.play-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(transparency-water.webp);
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0.7);
  z-index: -1;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 60px;
  text-transform: uppercase;
  color: white;
  text-shadow:
    0 0 4px red,
    0 0 4px red,
    0 0 4px red,
    0 0 4px red,
    0 0 4px red;
  translate: -50% -50%;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.video-container.show {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.video-wrapper {
  position: relative;
  width: fit-content;
}

.caption-container {
  font-family: Helvetica, sans-serif;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 40px;
  padding: 10px 14px;
  background-color: black;
  color: white;
  text-align: center;
}

/* ----------Toggles---------- */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  translate: -80px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #f32121;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f32121;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  translate: 80px;
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
